---
layout: base.njk
---

{% include "partials/nav.njk" %}
{% include "partials/hero.njk" %}
{% include "partials/intro.njk" %}
{% include "partials/companies.njk" %}
{% include "partials/khanvian.njk" %}
{% include "partials/factory.njk" %}
{% include "partials/contact.njk" %}
