<section class="contact" id="contacto">
    <div class="diagonal-segment" aria-hidden="true"><svg><line stroke="#E4FE00" stroke-width="5"/></svg></div>
    <div class="contact__grid">
        <div>
            <h2 class="contact__title sr">Juntos, podemos construir el futuro en prácticamente cualquier lugar.</h2>
        </div>
        <div>
            <p class="contact__info sr sr--d1">Contáctanos llamando al <a href="tel:+34973603954">973 603 954</a><br>o escríbenos a <a href="mailto:miproyecto@pmp-pretaporter.com" class="contact__email">miproyecto@pmp-pretaporter.com</a><br>y lo pondremos en marcha.</p>
            <p class="contact__cta sr sr--d2">Puedes ampliar información sobre el sistema constructivo Khanvian&reg;, así como descubrir algunos de los más de 500 proyectos que hemos desarrollado, entrando en la <a href="https://www.pretaportercasas.com" target="_blank">web de Prêt-à-porter casas</a>.</p>
        </div>
    </div>
</section>
