<section class="intro" id="nosotros">
    <div class="intro__inner">
        <h2 class="intro__text sr">Grup PMP es una organización pionera en construcción industrializada que nació hace más de 25 años con una visión transformadora del sector. Con un equipo multidisciplinar altamente especializado y una experiencia de cientos de proyectos ejecutados, ofrecemos soluciones adaptadas tanto a clientes particulares como profesionales, integrando tecnología avanzada, sostenibilidad y personalización en cada proyecto, y garantizando en todos los casos la excelencia técnica que nos ha consolidado como referentes en construcción industrializada.</h2>
    </div>
</section>
