<!-- Navigation -->
<nav class="nav" id="nav">
    <a href="#" class="nav-logo">
        <img src="{{ '/assets/logo-white.png' | url }}" alt="Grup PMP" class="nav-logo-img nav-logo-white">
        <img src="{{ '/assets/logo-black.png' | url }}" alt="Grup PMP" class="nav-logo-img nav-logo-black">
    </a>
    <ul class="nav-links">
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#empresas">Empresas</a></li>
        <li><a href="#khanvian">Khanvian</a></li>
        <li><a href="#factoria">Factoría</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
    <div class="nav-hamburger" id="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
